.intro {
  max-width: 690px;
  margin: 0 auto;
  padding-top: 114px;
}

@media screen and (max-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 110px;
  }
}

@media screen and (max-width: 695px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 86px;
  }
}
