.lead__subtitle {
  font-family: "Inter", sans-serif;
  margin: 32px auto 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  max-width: 640px;
  text-align: center;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    min-width: 288px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 40px;
  }
}
