.cover {
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 32px;
}

.cover::before {
  content: "";
  display: block;
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 2s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-width: 320px;
  }
}
